* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5f3f2;
    text-align: center;
}

.todo-box-title {
    font-size: 2.2em;
    margin: 25px 0 25px 0;
}

.todo { 
    color: #00a79d;
}

.box {
    color: #6d6e71;
}

.title-input,
.body-input,
.search-input {
    height: 40px;
    width: 60%;
    font-size: 1.5em;
    border: 2.2px solid #C0C0C0;
    padding-left: 7px;
}

input::placeholder {
    color: #C0C0C0;
}

.title-input {
    margin-bottom: 16px;
}

.search-input {
    margin: 30px auto 20px auto;
}

.save-btn {
  background-color: #00A79D;
  color: #FFFFFF;
  font-size: 1.5em;
  height: 1.9em;
  margin-bottom: 32px;
  margin-top: 20px;
  width: 60%;
}

.save-btn:hover {
    background-color: #045e55;
}

input {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}

.card-container {
    margin:  10px auto 50px auto;
    position: relative;
    width: 60%;
}

.title-of-card {
    color: #6D6E71;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 1.65em;
    line-height: 2em;
}

p {
    color: #939598;
    font-family: 'Open Sans', sans-serif;
}

.body-of-card {
    color: #939598;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 27px;
    font-size: 1.3em;
    line-height: 25px;
    /*scroll*/
}

.buttons-and-quality-rating {
    display: inline-flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 25px;
}

button {
    border: none;
}

.upvote {
    background-image: url(./images/upvote.svg);
    height: 30px;
    margin-right: 5px; 
    width: 30px;
}

.upvote:hover {
    background-image: url(./images/upvote-hover.svg);
    background-size: cover;
}

.downvote {
    background-image: url(./images/downvote.svg);
    height: 30px;
    margin-right: 5px; 
    width: 30px;
}

.downvote:hover {
    background-image: url(./images/downvote-hover.svg);
    background-size: cover;
}

.quality {
    padding-top: 3px;
    color: #6d6e71;
}

.delete-button {
    background-image: url(./images/delete.svg);
    height: 30px;
    position: absolute;
    right: 10px;
    top: 8px;
    width: 30px;
}

.delete-button:hover {
    background-image: url(./images/delete-hover.svg);
}

@media(max-width: 640px){

    .card-container {
        width: 85%;
    }

    .h1 {
        font-size: 200%;
    }

    #body-input::placeholder {
    
    }

    #search-input {
        border: solid #999 1px;
    }


}

